---
import MenuTabs from './MenuTabs';
---
<section id="menu" class="py-20 bg-gray-50">
  <div class="container mx-auto px-4 md:px-8">
    <!-- Menu con el componente React -->
    <MenuTabs client:load />
  </div>
</section>